.table {
    font-size: medium;
}

.table-header {
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding: .4rem 0;
    border-bottom: 1px solid lightgray;
    padding-left: 1rem;
}

.table-content {
    display: flex;
    justify-content: space-around;
    padding: .4rem 0;
    border-bottom: 1px solid lightgray;
    padding-left: 1rem;
}

.delete-btn {
    color: #fff;
    background-color: rgb(243, 23, 23);
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.cell {
    width: 20%;
}

.cell-text {
    padding: 9px;
}

.heightler {
    color: gray;
    font-weight: 500;
  }